ios/build
node_modules/.bin
node_modules/react-native-i18n/android/build
node_modules/react-native-image-crop-picker/android/build
node_modules/jpush-react-native/android/build
node_modules/react-native-navigation/android/app/build
node_modules/react-native-vector-icons/android/build
