ios/build
node_modules/.bin
node_modules/react-native-i18n/android/build
node_modules/react-native-image-crop-picker/android/build
node_modules/jpush-react-native/android/build
node_modules/react-native-navigation/android/app/build
node_modules/react-native-vector-icons/android/build
UserInterfaceState.xcuserstate
node_modules/react-native-i18n/RNI18n.xcodeproj/xcuserdata/yangjun.xcuserdatad/xcschemes/xcschememanagement.plist
node_modules/react-native-image-crop-picker/ios/ImageCropPicker.xcodeproj/xcuserdata/yangjun.xcuserdatad/xcschemes/xcschememanagement.plist
node_modules/react-native-image-crop-picker/ios/QBImagePicker/QBImagePicker.xcodeproj/xcuserdata/yangjun.xcuserdatad/xcschemes/xcschememanagement.plist
node_modules/react-native-image-crop-picker/ios/RSKImageCropper/RSKImageCropper.xcodeproj/xcuserdata/yangjun.xcuserdatad/xcschemes/xcschememanagement.plist
node_modules/react-native-vector-icons/RNVectorIcons.xcodeproj/xcuserdata/yangjun.xcuserdatad/xcschemes/xcschememanagement.plist
node_modules/react-native/Libraries/ActionSheetIOS/RCTActionSheet.xcodeproj/xcuserdata/yangjun.xcuserdatad/xcschemes/xcschememanagement.plist
node_modules/react-native/Libraries/Geolocation/RCTGeolocation.xcodeproj/xcuserdata/yangjun.xcuserdatad/xcschemes/xcschememanagement.plist
node_modules/react-native/Libraries/Image/RCTImage.xcodeproj/xcuserdata/yangjun.xcuserdatad/xcschemes/xcschememanagement.plist
node_modules/react-native/Libraries/LinkingIOS/RCTLinking.xcodeproj/xcuserdata/yangjun.xcuserdatad/xcschemes/xcschememanagement.plist
node_modules/react-native/Libraries/NativeAnimation/RCTAnimation.xcodeproj/xcuserdata/yangjun.xcuserdatad/xcschemes/xcschememanagement.plist
node_modules/react-native/Libraries/Network/RCTNetwork.xcodeproj/xcuserdata/yangjun.xcuserdatad/xcschemes/xcschememanagement.plist
node_modules/react-native/Libraries/Settings/RCTSettings.xcodeproj/xcuserdata/yangjun.xcuserdatad/xcschemes/xcschememanagement.plist
node_modules/react-native/Libraries/Text/RCTText.xcodeproj/xcuserdata/yangjun.xcuserdatad/xcschemes/xcschememanagement.plist
node_modules/react-native/Libraries/Vibration/RCTVibration.xcodeproj/xcuserdata/yangjun.xcuserdatad/xcschemes/xcschememanagement.plist
node_modules/react-native/Libraries/WebSocket/RCTWebSocket.xcodeproj/xcuserdata/yangjun.xcuserdatad/xcschemes/xcschememanagement.plist
node_modules/react-native/React/React.xcodeproj/xcuserdata/yangjun.xcuserdatad/xcschemes/xcschememanagement.plist
IDEFindNavigatorScopes.plist
